.meny-pic{
    max-width: 100%;
}

/*main content container width grids*/

#main{
    display: grid;
    width: 100%;
    height: auto;
    margin-top:5%; 
    grid-template-columns: repeat(1,1fr);
	grid-template-rows: auto;
    grid-template-areas:
    

    "routines-container"
    "list-routines-container"
    "Rules-container"
    "disease-container"
    "price-list"

}

#header-img{
    display: flex;
    justify-content: center;
}
/*grids container for routines*/

#routines-container{

    width: 100%;
    display: grid;
    grid-area: routines-container;
    grid-template-columns: repeat(6,1fr);
	grid-template-rows: auto;
    grid-template-areas: 
    "textbox-routines textbox-routines textbox-routines pomeranian-img pugs-img pugs-img";
    height: auto;
    margin: auto;
}

/*grid-area for container routines*/

#textbox-routines{
  grid-area: textbox-routines;
  padding-left:8%;
  padding-right:8%;
  
}
#pomeranian-img{
  grid-area:pomeranian-img;
    
}
#pugs-img{
  grid-area:pugs-img;
    
}

/*grid-area for main container*/


#list-routines-container{
    grid-area: list-routines-container;
    height: auto;
}
#Rules-container{
    grid-area: Rules-container;
    height: auto;
}
#disease-container{
    grid-area: disease-container;
    height: auto;
}
#price-list{
    grid-area: price-list;
    height: auto;
}