#meny-pic{
    max-width: 90%;
}

/*main content container width grids*/

#main{
    display: grid;
    width: 90%;
    height: auto;
    justify-content: center;
    margin-top:5%; 
    grid-template-columns: repeat(1,1fr);
	grid-template-rows: auto;
    grid-template-areas:
    
    "routines-container"
    "list-routines-container"
    "Rules-container"
    "disease-container"
    "price-list"

}

#header-img{
    display: flex;
    justify-content: center;
   
}
/*grids container for routines*/

#routines-container{

    width: 90%;
    display: grid;
    column-gap:5%;
    grid-area: routines-container;
    grid-template-columns: repeat(6,1fr);
	grid-template-rows: auto;
    grid-template-areas: 
    "textbox-routines textbox-routines textbox-routines textbox-routines pomeranian-img pomeranian-img";
    height: auto;
    margin: auto;
}

/*grid-area for container routines*/

#textbox-routines{
  grid-area: textbox-routines;
  padding-left:12%;
  padding-right:5%;
  
}
#pomeranian-img{
    
  margin: 5%;
  grid-area:pomeranian-img;
  border-radius: 5%;
    
}
#pugs-img{

  border-radius: 40%;
    
}

/*grid-area for main container*/


#list-routines-container{
    grid-area: list-routines-container;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#Rules-container{
    grid-area: Rules-container;
    height: auto;
}
#disease-container{
    grid-area: disease-container;
    height: auto;
    display: flex;
    flex-direction:row;
    margin-top: 5%;
}

#price-list{
    grid-area: price-list;
    height: auto;
}

/*list for routines*/ 
   #open{
    list-style-image: url(../img/open-1.png);
    }
    #Walk1{
    list-style-image: url(../img/Koppel-ikon.png);
    }
    #food{
    list-style-image: url(../img/food-ikon.png);
    }
    #rest{
    list-style-image: url(../img/rest.png);
    }
    #walk2{
    list-style-image: url(../img/Koppel-ikon.png);
    }
    #home{
    list-style-image: url(../img/home-1.png);
    }
    #close{
    list-style-image: url(../img/close-1.png);
    }

    /*container-list flexbox*/

    

    #bulldog-pic{
        border-radius: 20%;
    }

    /*rules container*/
    #Rules-container, #price-list{
     
        display: flex;
        height: auto;
        flex-direction: row;
    }
    #price-list{
        justify-content:flex-end;
        margin-top: 10%;
    }
    #Rules-textbox, #disease-textbox{
        margin-left: 15%;
        width: 50%;
    }

     #price-pic,#pugs{
        padding:5%;
        height: auto;
        border-radius: 40%;
       
    }
    #syringe{
        padding:5%;
        height: 250px;
        border-radius: 40%;
    }

    #sick-dog{
        border-radius:20%;
        margin-left: 2%;
    }

    #price-pic, #pugs{
        width: 250px;
        filter: drop-shadow(0 0 0.75rem rgb(60, 109, 59));
    }

    #dollar{
        list-style-image: url(../img/dollar-2.png);
    }

   

   
    /*media queries*/

    @media screen and (max-width:1400px){
        .meny-pic{
            width:800px;
            height: auto;
        }
        li.meny,a{
            font-size: 120%;
        }
    }
/*For small desktop*/
    @media screen and (max-width:1300px) and (min-width:960px)
    {
        li.meny,a{
            font-size: 110%;
        }
        #sick-dog{
            width: 300px;
            height: auto;
        }

        #pomeranian-img{
            width: 300px;
            height: auto;
        }
        #bulldog-pic{
            width: 300px;
            height: 250px;
        }
        #pugs{
            width: 180px;
            height: 165px;
        }

        #sick-dog{
            
            width: 200px;
            height: auto;
        }
        #price-pic{
            
            width: 200px;
            height: auto;
        }
    }
/*For tablet*/
    
    @media screen and (max-width:960px) and (min-width:768px){

        #disease-container{
            flex-direction:row-reverse;
            
        }
        #Rules-container{
            justify-content: center;
        }

        li.meny,a{
            font-size: 100%;
        }

        #header-nav{
            align-items: center;
        }

        #list-routines-container{
            justify-content: flex-start;
            column-gap: 5%;
        }


        /*img size*/

        #syringe{
            display:none;

        }
        #pomeranian-img{
            width: 300px;
            height: auto;
        }
        #pugs{
            display: none;
        }
       
        #bulldog-pic{
            width: 300px;
            height: 250px;
        }
        #container-list{
            width:40%;
           
        }
       
        #sick-dog{
            
            width: 200px;
            height: auto;
        }
        #price-pic{
            
            width: 200px;
            height: auto;
        }

    }

    /*mobile*/

    @media screen and (max-width:767px)
    {

    }