body{
background-image:url(../img/dog-313357_960_720.jpg);
}
*{
    box-sizing: border-box;
}

.Grids-Container{
    display: grid;
    width: 90%;
    height: auto;
    border: 2px solid black;
    row-gap:10px;
    background-color: white;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
}

#header{
    display: flex;
    flex-direction: row;
    position: fixed;
    flex-wrap: nowrap;
    width: 90%;
    grid-area: header;
    border:1px solid black;
    background-color: var(--backgrund-nav);
    height: 100px;
}