body{
display:flex;
width: 100%;
justify-content: center;
background-image:url(../img/dog-313357_960_720.jpg);
}

/*variabler*/

:root{
    --Text_Color_1:#F77D26;
    --paragraf:#4d2600;
    --background-header-nav:rgba(38, 51, 67, 0.8);
}

.Grids-Container{
    display: grid;
    width: 90%;
    height: auto;
    border: 2px solid black;
    row-gap:10px;
    background-color: white;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
}

#header-nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    flex-wrap: nowrap;
    width: 90%;
    grid-area: header;
    border:1px solid black;
    background-color: var(--background-header-nav);
    height: 100px;
}
/*listan/menyn*/
li.meny{
    display: inline;  
    list-style-type:none;
    margin:2%;
    font-size:150%;
    font-family:meny-font;
    color:var(--Text_Color_1);
}

/*font-face*/

@font-face{
    font-family:paragraph-font;
    src:url(../fonts/Tahoma\ Regular\ font.ttf);
    font-weight:bold;}

 @font-face{
     font-family:meny-font;
     src:url(../fonts/Comfortaa-Bold.ttf);
    font-weight:bold;}

@font-face{
        font-family:navigation-font;
        src:url(../fonts/Merienda-Bold.ttf);
        font-weight:bold;}