*{
    box-sizing: border-box;
}



#header-img{
    display: flex;
    justify-content: center;
}


#main{
width: 90%;
display: grid;
grid-template-columns: repeat(8,1fr);
grid-template-rows: auto;

grid-template-areas:
"text1 text1 img1 img1 img1 img1 img1 img1"
"icon-box1 icon-box2 icon-box3 icon-box4 text2 text2 text2 text2"
"img2 img2 img2 img2 img2 img2 img2 img2"
"img-bottom img-bottom img-bottom img-bottom img-bottom img-bottom img-bottom img-bottom"

}  










.main-pic{
    width:800px;
    height: auto;
}




    
   
    #textbox1{
        margin-top: 20%;
        width: 350px;
        height: auto;
        grid-area:text1;
        
       
    }

    #img-box1{
      grid-area:img1;
      height: auto;
      margin-top: 40%;
        
    }
    #img-box2{
        grid-area:img2;
        
        height: auto;
        margin-top: 30%;
       
        
        
    }

    #img-box3{
        
        
        margin-top: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        grid-area: img-bottom;
    }



    #textbox2{
        margin-top: 70%;
        width: 100%;
        height: auto;
        grid-area:text2;
       
        
        
        
    }

   
   
   
   


    
    
    




    


#icon-box{
    margin-top: 60%;
    width: 150%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




.icon-box1{
grid-area: icon-box1;
width: 10%;
height: 10%;



}
.icon-box2{
grid-area: icon-box2;
width: 10%;
height: 10%;
}
.icon-box3{
grid-area: icon-box3;
width: 10%;
height: 10%;
    
   
   

}
.icon-box4{
grid-area: icon-box4;
width: 10%;
height: 10%;
    
    
   
    

}


@font-face{
    font-family:icon-font;
    src:url(../fonts/Tahoma\ Regular\ font.ttf);
    font-weight:bold;}








  