body{
    display:flex;
    width: 100%;
    justify-content: center;
    background-image:url(../fonts/dog-313357_960_720.jpg);
    }
    
    /*variabler*/
    
    :root{
        --Text_Color_1:#F77D26;
        --paragraf:#4d2600;
        --background-header-nav:rgba(38, 51, 67, 0.8);
    }
    
    .Grids-Container{
        display: grid;
        width: 90%;
        height: auto;
        border: 2px solid black;
        row-gap:10px;
        background-color: white;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header-nav"
        "band"
        "band-2"
        "band-3"
        "band-4"
        "footer";
    }
    /* header meny */
    
    #header-nav{
        display: flex;
        flex-direction: row;
        position: fixed;
        flex-wrap: nowrap;
        width: 90%;
        grid-area: header;
        border:1px solid black;
        background-color: var(--background-header-nav);
        height: 100px;
    }
    
        .nav-text{ 
        order:2;
        padding-right: 2%;
        width:50%;
        height: auto;
        margin-top:3%;
        margin-left:10%;
        }
    
        #active{
            color:white;
            text-decoration: underline;
        }
    
        li.meny:hover{
            color:white;
            text-shadow: 1px 1px 2px gray , 0 0 25px white, 0 0 5px black;
        }
       

    #footer{
        grid-area:footer;
        height: auto;
        background-color: var(--background-header-nav);
    }
    
    
    
    /*listan/menyn*/
    
    
    li.meny{
        display: inline;  
        list-style-type:none;
        margin:2%;
        font-size:150%;
        
        font-family:meny-font;
        color:var(--Text_Color_1);
    }
    
    
    /*font-face*/
    
    @font-face{
        font-family:paragraph-font;
        src:url(../fonts/Tahoma\ Regular\ font.ttf);
        font-weight:bold;}
    
     @font-face{
         font-family:meny-font;
         src:url(../fonts/Comfortaa-Bold.ttf);
        font-weight:bold;}
    
    @font-face{
            font-family:navigation-font;
            src:url(../fonts/Merienda-Bold.ttf);
            font-weight:bold;}
    
    /* positionering logga */
    
    .logga{
       order: 1;
        padding-top: 0px;
        width: 40%;
        height: auto; 
    }
    
    #main{
        width: 90%; 
        margin-top: 10%;
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns:repeat(1,1fr) ;
        grid-template-rows: auto;
        grid-gap:20px;
        background-color:#fff;
        align-items: center;
    }
    
    h1{
        color:#F77D26; 
        font-size: 24px;
        margin: 0;     
    }

 .card p{
     font-size: 16px;
 }

 .card span{
     font-size: 12px;
     font-weight: bold;
     color:grey;
     text-transform: uppercase;
     letter-spacing: .05em;
    
 }
 
    .card{
        
        background: #fff;
        text-decoration: none;
        color: #444;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        display:flex;
       
        justify-items: center;
        flex-direction: column;
        justify-content: space-between;
        position:relative;
        top:0;
        transition: 0,2s;
    }

    .card:hover{
        top:-2px;
        box-shadow: 0 4px 5px rgba(0, 0,0, 2); 
    }
    
    .thumb{
        padding-bottom: 10%;
        background-size: cover;
        background-position: center center;
    }

    article{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px;
    }

    article p{
        flex:1;
    }

    @media screen and (min-width:500px){
        .band{
            grid-template-areas: 1fr 1fr;
          
        }
        .item-1{
            grid-column: 1/3;
        }
    }

   @media screen and (min-width:850px){
       .band{
           grid-template-columns: repeat(4,1fr);
           grid-template-areas: 
             "";
       }
         
    }
       

   
