
.img-box{
  
    width: 100%;
    margin: 0 auto;
}
.img-box > img{
    display:block;
    width: 90%;
    margin-left: 5%;
    border-radius: 4%;
}

  /*standard skärm */

    #main{
        width: 90%; 
        margin-top: 5%;
        display:grid;
        height: auto;;
        justify-items: center;
        grid-template-columns:repeat(1,1fr) ;
        grid-template-rows: auto;
        grid-gap:20px;
        border: 1px solid #F77D26; ;
    }

    
    #footer{
        width: 100%;
        
}

    h1{
        color:#F77D26; 
        font-size: 24px;
        margin: 0;     
    }

 .main p{
     font-size: 16px;
 }

 .main span{
     font-size: 12px;
     font-weight: bold;
     color:grey;
     text-transform: uppercase;
     letter-spacing: .05em;
    
 }
 
    

    
    
    .class[item-]{
       
      
        color: #444;
        display:flex; 
        justify-items: center;
        flex-direction: column;
        justify-content: space-between;
        position:relative;
        top:0;

     
    }
   .thumb-1,.thumb-2,.thumb-3,.thumb-4{
       background-color: #fff;
       display:flex;
       color: #444;
       box-shadow: 0 3px 6px rgba(0, 0,0, .1);
       border-radius: 3%;
   }




    
    .thumb{
        padding-bottom: 10%;
        background-size: cover;
        background-position: center center;
    }


    article{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px;
    }

    article p{
        flex:1;
    }

    /*Breda desktopskärmar: stöttre än 1200px*/
    @media screen and (max-width:1400px){
        .img-box{
            width: 90%;
            display:grid;
            grid-template-areas:repeat(1,1fr);
        }

        .main{
            width: 90%;
            display:grid;
            grid-template-areas:repeat(4,1fr);  
         
        }
           .item-1{
               grid-column: 1/5;
           }

            .item-3{
                grid-column: 2/5;
           }
        }
    
/*Mindre desktopskärmar :mellan 1200px och 960px*/
   @media screen and (max-width:1200px)and(min-width:960px){

    .img-box{
        width: 90%;
        display:grid;
        grid-template-areas:repeat(1,1fr);
       }

       .main{
           grid-template-columns: repeat(4,1fr); 
       }

       .item-1{
        grid-column: 1/5;
       }

       .item-3{
         grid-column: 2/5;
     } 
    }
      
 //*Tablets såsom Ipad: mellan 960px och 768px*/
 @media screen and (max-width:950px){

    .img-box{
        width: 90%;
        display:grid;
        grid-template-areas:repeat(1,1fr);

    }
     .main{
        width: 90%;
        display:grid;
        grid-template-areas:repeat(4,1fr);    
     }
    }
  
  
/*För mobiltelfoner: mindre än 768px*/
   @media screen and (max-width:600px){
      
    .img-box{
        width: 90%;
        display:grid;
        grid-template-areas:repeat(1,1fr);
    }

    .main {
        width: 90%;
        display:grid;
        grid-template-columns:1fr 1fr ;      
        }

    .item-1{
       grid-column: 1/5;
        }

   .item-3{
        grid-column:1/5 ;
        }  
  }
 

